<td><input type="number" [(ngModel)]="entryEdit.checkNumber" placeholder="Chk No" style="width: 70px"/></td>
<td><input type="date" [(ngModel)]="entryEdit.timestamp" placeholder="Date"/></td>
<td><input type="text" [(ngModel)]="entryEdit.description" placeholder="Description" style="width:100%" /></td>
<td>
    <div class="pull-right">
        haha
        $<input type="number" [(ngModel)]="entryEdit.debit" placeholder="Debit" style="width: 70px" />
        $<input type="number" [(ngModel)]="entryEdit.credit" placeholder="Credit" style="width: 70px" />
    </div>
</td>
<td>
    <button type="button" class="btn btn-info btn-sm pull-right" (click)="addEntry(entryEdit)">+</button>
</td>