<!--<td>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" (click)="delete(entry)">Delete</a>
        </div>
    </div>
</td>-->
<td>{{entry.checkNumber}}</td>
<td>{{entry.timestamp}}</td>
<td><em>{{entry.description}}</em></td>
<td>
    <div class="pull-right">
        <span *ngIf="entry.debit > 0" class="text-danger"><strong>- ${{entry.debit}}</strong></span>
        <span *ngIf="entry.credit > 0" class="text-success"><strong>+ ${{entry.credit}}</strong></span>
    </div>
</td>
<td>
    <button type="button" class="btn btn-xs btn-danger pull-right" (click)="delete(entry)"><i class="fa fa-trash"></i></button>
</td>
