<ul class="list-group">
    <entry *ngFor="let entry of entries" [entry]="entry"></entry>
    
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-1"><input type="text" [(ngModel)]="newEntry.checkNumber" placeholder="Chk No" style="width: 70px"/></div>
            <div class="col-lg-3"><input type="text" [(ngModel)]="newEntry.timestamp" placeholder="Date"/></div>
            <div class="col-lg-4"><input type="text" [(ngModel)]="newEntry.description" placeholder="Description" style="width:100%" /></div>
            <div class="col-lg-3">
                <div class="pull-right">
                    $<input type="number" [(ngModel)]="newEntry.debit" placeholder="Debit" style="width: 70px" />
                    $<input type="number" [(ngModel)]="newEntry.credit" placeholder="Credit" style="width: 70px" />
                </div>
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-info btn-sm pull-right" (click)="addEntry(newEntry)">+</button>
            </div>
        </div>
    </li>
</ul>

<div class="pull-right">
    <h4>${{getTotal()}}</h4>
</div>
