<table class="table table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th></th>
            <th><div class="pull-right">Amount</div></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries" [entry]="entry" [class.table-success]="entry.credit > 0" [class.table-danger]="entry.debit > 0"></tr>
        
    </tbody>
</table>

<div class="pull-xs-right">
    <h3><span class="text-muted">Balance: </span><span [class.text-warning]="getTotal() < 50" [class.text-danger]="getTotal() < 0">{{getTotal() | currency:'USD':true}}</span></h3>
</div>
<div style="clear: both"></div>

<br><br>
<h4><i class="fa fa-plus"></i> New Entry</h4>

<table class="table table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th></th>
            <th><div class="pull-right">Amount</div></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr [entryEdit]="newEntry"></tr>
    </tbody>
</table>



